*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif;
}
body{
    width: 100%;
    height: 100%;
    background:url("paper-1074131_1280.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    margin: 40px auto;
    width: 60%;
    padding: 10px 20px;
    backdrop-filter: blur(2px);
    border-radius: 7px;
    border: 2px ridge rgba(128, 128, 128, 0.5);
    background-color: rgba(255, 255, 255, 0.151);
}
table{
    width: 99%;
    padding: 10px 20px;
    font-size: larger;
    text-align: center  ;
    border-collapse: collapse;
}
caption{
    margin: 10px 0;
}
table td,table th{
    border: 3px solid rgba(105, 53, 68, 0.538);
}